﻿@model  RocaAPI.AdminEcomm.Web.Models.PedidoModels.PedidoInternoModel
@using QLibs.Web.MVC.Extensions;

@{
    var areaName = QLibsController.GetAreaName(ViewContext);
    var controlerName = QLibsController.GetControllerName(ViewContext);
    var user = User.GetUser();
}

<div class="kt-portlet kt-portlet--tabs" id="entityContainer">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab" aria-selected="true">
                        @RocaAPI.AdminEcomm.Web.Properties.Textos.Produto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_apps_user_edit_tab_4" role="tab" aria-selected="true">
                        @RocaAPI.AdminEcomm.Web.Properties.Textos.Cliente
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="kt-portlet__body">
        @using (Html.BeginForm("PedidoInternoUpdate", QLibsController.GetControllerName(ViewContext), FormMethod.Post, new { area = QLibsController.GetAreaName(ViewContext), id = "entityForm", name = "entityForm", role = "form", @class = "kt-form" }))
        {
            <div class="tab-content">
                <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                    <div class="kt-form kt-form--label-right">
                        <div class="kt-form__body">
                            <div class="row">
                                <div class="col-md-12 col-lg-9 col-xl-10">
                                    <div class="form-group kt-form__group row">
                                        @Html.HiddenFor(m => m.Entity.NrControle)
                                        @Html.HiddenFor(m => m.Entity.Auditdate)
                                        @Html.HiddenFor(m => m.Entity.CompanyId)
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Marca</label>
                                            @Html.TextBoxFor(m => m.Entity.CdMarca, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Vendedor</label>
                                            @Html.TextBoxFor(m => m.Entity.CdVendedor, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.ClienteEmisor</label>
                                            @Html.TextBoxFor(m => m.Entity.CdClienteEmissor, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.ClienteReceptor</label>
                                            @Html.TextBoxFor(m => m.Entity.CdClienteRecebedor, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.PedidoCliente</label>
                                            @Html.TextBoxFor(m => m.Entity.NrPedidoCliente, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NumeroPedidoSAP</label>
                                            @Html.TextBoxFor(m => m.Entity.NrPedidoSap, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.TipoPedido</label>
                                            @Html.TextBoxFor(m => m.Entity.CdTipoPedido, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaIngreso</label>
                                            @Html.TextBoxFor(m => m.Entity.DtEntrada, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaProgramada</label>
                                            @Html.TextBoxFor(m => m.Entity.DtProgramacao, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Flete</label>
                                            @Html.TextBoxFor(m => m.Entity.CdFrete, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Plazo</label>
                                            @Html.TextBoxFor(m => m.Entity.CdPrazo, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>


                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.CodigoTablaPrecio</label>
                                            @Html.TextBoxFor(m => m.Entity.CdTabelaPreco, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.TablaPrecio</label>
                                            @Html.TextBoxFor(m => m.Entity.AaTabelaPreco, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.CodigoBloqueo</label>
                                            @Html.TextBoxFor(m => m.Entity.CdBloqueio, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Observaciones</label>
                                            @Html.TextBoxFor(m => m.Entity.DsObservacao1, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Observaciones2</label>
                                            @Html.TextBoxFor(m => m.Entity.DsObservacao2, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Estado</label>
                                            @Html.TextBoxFor(m => m.Entity.Status, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Cantidad</label>
                                            @Html.TextBoxFor(m => m.Entity.VlPedido, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Flete</label>
                                            @Html.TextBoxFor(m => m.Entity.VlFrete, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Descuentos</label>
                                            @Html.TextBoxFor(m => m.Entity.VlDesconto, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.GastosAuxiliares</label>
                                            @Html.TextBoxFor(m => m.Entity.VlDespesasAcessorias, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Mercancias</label>
                                            @Html.TextBoxFor(m => m.Entity.VlMercadoria, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NrBoleto</label>
                                            @Html.TextBoxFor(m => m.Entity.NrBoleto, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Cancelado</label>
                                            @Html.TextBoxFor(m => m.Entity.LgCancelado, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Procesado</label>
                                            @Html.TextBoxFor(m => m.Entity.LgProcessado, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.CantidadItems</label>
                                            @Html.TextBoxFor(m => m.Entity.QtPecas, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaCarteira</label>
                                            @Html.TextBoxFor(m => m.Entity.DtCarteiraBoa, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>



                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaCompromiso</label>
                                            @Html.TextBoxFor(m => m.Entity.DtComprometimento, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Demora</label>
                                            @Html.TextBoxFor(m => m.Entity.LgAtraso, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.DiasDemora</label>
                                            @Html.TextBoxFor(m => m.Entity.DdAtraso, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Prediccion</label>
                                            @Html.TextBoxFor(m => m.Entity.DtPrevisao, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.VlIpi</label>
                                            @Html.TextBoxFor(m => m.Entity.VlIpi, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Organizacion</label>
                                            @Html.TextBoxFor(m => m.Entity.CdOrganizacao, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Inicio</label>
                                            @Html.TextBoxFor(m => m.Entity.DtInicial, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.CodigoSeguimiento</label>
                                            @Html.TextBoxFor(m => m.Entity.CdRastreio, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NumeroPedidoSAP</label>
                                            @Html.TextBoxFor(m => m.Entity.NrPedidoSapServico, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                        </div>
                                    </div>

                                    <div class="form-group kt-form__group row">
                                        <div class="col-md-12">
                                            <table class="table table-striped" id="CarteraTable">
                                                <thead>
                                                    <tr>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.NumeroPedidoSAP</th>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.Produto</th>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.ValorUnitario</th>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.Total</th>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.Pedido</th>
                                                        <th>@RocaAPI.AdminEcomm.Web.Properties.Textos.CodigoReserva</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.Entity.Items)
                                                    {
                                                        <tr>
                                                            <td>@Html.Raw(item.SqItem)</td>
                                                            <td>@Html.Raw(item.CdProduto)</td>
                                                            <td>@Html.Raw(item.VlUnitario)</td>
                                                            <td>@Html.Raw(item.VlTotal)</td>
                                                            <td>@Html.Raw(item.QtPedido)</td>
                                                            <td>@Html.Raw(item.CodReserva)</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="kt_apps_user_edit_tab_4" role="tabpanel">
                    <div class="kt-form kt-form--label-right">
                        <div class="kt-form__body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group kt-form__group row">
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.CodigoCliente</label>
                                            @Html.TextBoxFor(m => m.Entity.CdCliente, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Cliente</label>
                                            @Html.TextBoxFor(m => m.Entity.ClienteNmEstabelecimento, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Direccion</label>
                                            @Html.TextBoxFor(m => m.Entity.DsEndereco, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Numero</label>
                                            @Html.TextBoxFor(m => m.Entity.DsNumero, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Departamento</label>
                                            @Html.TextBoxFor(m => m.Entity.DsComplemento, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Barrio</label>
                                            @Html.TextBoxFor(m => m.Entity.DsBairro, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Ciudad</label>
                                            @Html.TextBoxFor(m => m.Entity.NmCidade, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NroCep</label>
                                            @Html.TextBoxFor(m => m.Entity.NrCep, new { @class = "form-control kt-input" })
                                        </div>
                                        <div class="col-md-6 col-lg-4 col-xl-3">
                                            <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NroSuframa</label>
                                            @Html.TextBoxFor(m => m.Entity.NrSuframa, new { @class = "form-control kt-input" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var urlRefresh = '@Html.Raw(Url.Action("PedidoInternoUpdate", new { BaseEntityID = Model.Entity.BaseEntityID }))';
</script>

<script type="text/javascript">
    function initializeDetailForm(actionsDiv) {
        actionsDiv.html(getRefreshButton() + getCancelButton() + getSaveButton());
        setCancelRefreshDetailClick($('#cancelButton'), $('#refreshButton'));
        $.qLibs_setFormValidations('#entityForm', {
            "@Html.NameFor(m => m.Entity.DsEndereco)": { required: true, maxlength: 255 },
            "@Html.NameFor(m => m.Entity.DsNumero)": { maxlength: 50 },
            "@Html.NameFor(m => m.Entity.DsComplemento)": { maxlength: 255 },
            "@Html.NameFor(m => m.Entity.DsBairro)": { required: true, maxlength: 255 },
            "@Html.NameFor(m => m.Entity.NmCidade)": { required: true, maxlength: 255 },
            "@Html.NameFor(m => m.Entity.NrCep)": { required: true, maxlength: 10 },
            "@Html.NameFor(m => m.Entity.NrSuframa)": { maxlength: 18 },
        });
        $.qLibs_setFormAjaxSubmit('#submitButton', '#entityContainer', '#entityForm')
    }
    function getRefreshButton() {
        return '<a id="refreshButton" class="btn btn-label-info btn-bold"><i class="flaticon-refresh" style="padding-right: 0px;"></i></a>';
    }
    function setCancelRefreshDetailClick(buttonC, buttonR) {
        if (buttonC)
            setCancelDetailClick(buttonC);
        if (buttonR)
            setRefreshDetailClick(buttonR);
    }
    function setRefreshDetailClick(button) {
        button.on("click", function (a) {
            a.preventDefault();
            showDetailForm(urlRefresh);
            return false;
        });
    }
    function submitFormEditFormOKDefault() {
        setTimeout(function () { showGrid(true); fillGrid(); }, 2000);
    }
</script>
