﻿<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-footer__menu">
        <a href="http://qubicapp.com" target="_blank" class="kt-footer__menu-link kt-link">powered by&nbsp;QUBIC Apps</a>
    </div>
</div>
<!-- end:: Footer -->
