﻿@using QLibs.Web;
@using RocaAPI.AdminEcomm.Web.Code;

@{
    var userName = "";
    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var claimsIdentity = ((System.Security.Claims.ClaimsIdentity)System.Web.HttpContext.Current.User.Identity);
        userName = claimsIdentity.FindFirst(System.IdentityModel.Claims.ClaimTypes.NameIdentifier).Value;
        var usuario = System.Web.HttpContext.Current.User.GetUser();
    }
}

<!--begin: User bar -->
<div class="kt-header__topbar-item kt-header__topbar-item--user">
    <div class="kt-header__topbar-user" data-toggle="dropdown" data-offset="10px,0px">
        <span class="kt-header__topbar-welcome">@RocaAPI.AdminEcomm.Web.Properties.Textos.HolaUsuario</span>
        <span class="kt-header__topbar-username">@Html.Raw(userName)</span>
        <span class="kt-header__topbar-icon kt-hidden"><i class="flaticon2-user-outline-symbol"></i></span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
        <!--begin: Head -->
        <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(@Url.Content("~/_Content/metronic_v603/assets/media/misc/bg-1.jpg"))">
            <div class="kt-user-card__name">
                @Html.Raw(userName)
            </div>
        </div>
        <!--end: Head -->
        <!--begin: Navigation -->
        <div class="kt-notification">
            <div class="kt-notification__custom kt-space-between">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-label btn-label-brand btn-sm btn-bold">@RocaAPI.AdminEcomm.Web.Properties.Textos.Salir</a>
            </div>
        </div>
        <!--end: Navigation -->
    </div>
</div>
<!--end: User bar -->
@using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
}