﻿@{
    var maps = QLibs.Web.MVC.Menues.SiteMapHelper.GetSiteMap();
    Dictionary<string, QLibs.Web.MVC.Menues.SiteMap> areas = new Dictionary<string, QLibs.Web.MVC.Menues.SiteMap>();
    foreach (var i in maps)
    {
        if (areas.ContainsKey(i.Area) == false)
        {
            if (!string.IsNullOrEmpty(i.Area))
            {
                if (i.Area == "CLIENT")
                {
                    continue;
                }
                areas.Add(i.Area, i);
            }
        }
    }
}

<!--begin: Quick actions -->
<div class="kt-header__topbar-item dropdown">
    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
        <span class="kt-header__topbar-icon kt-header__topbar-icon--warning"><i class="flaticon2-menu-4"></i></span>
    </div>
    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
        <div class="kt-grid-nav kt-grid-nav--skin-light">
            @{
                int total = 0;
            }
            @foreach (var area in areas)
            {
                var visible = RocaAPI.AdminEcomm.Web.Code.SecurityManager.HasPermissionForProgram(area.Key);
                if (visible)
                {
                    total++;
                }
            }


            @{ if (total > 0)
                {
                    int count = 0;
                    foreach (var area in areas)
                    {
                        if (count == 0)
                        {
                            @Html.Raw("<div class='kt-grid-nav__row'>")
                        }

                        var visible = RocaAPI.AdminEcomm.Web.Code.SecurityManager.HasPermissionForProgram(area.Key);
                        if (visible)
                        {
                            <a href="@Url.Action("Index", area.Key, new { area = area.Key })" class="kt-grid-nav__item">
                                <span class="kt-grid-nav__icon">
                                    <i class="kt-svg-icon kt-svg-icon--success kt-svg-icon--lg @Html.Raw(area.Value.Icon)"></i>
                                </span>
                                <span class="kt-grid-nav__title">@Html.Raw(area.Key)</span>
                                <span class="kt-grid-nav__desc">@Html.Raw(area.Value.Title)</span>
                            </a>
                            count++;
                        }

                        if (count == 2)
                        {
                            @Html.Raw("</div>")
                            count = 0;
                        }
                    }
                    if (count != 0)
                    {
                        @Html.Raw("</div>")
                        count = 0;
                    }
                }
            }
        </div>
    </div>
</div>
<!--end: Quick actions -->