@model RocaAPI.AdminEcomm.Web.Models.ImportModel

<div class="kt-portlet" id="importContainer">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Importar
            </h3>
        </div>
    </div>
    <div id="formContainer">
        @using (Html.BeginForm("", "", FormMethod.Post, new { action = Model.FormAction, id = "importForm", role = "form", enctype = "multipart/form-data", @class = "kt-form" }))
        {
            <div class="kt-portlet__body">
                <div class="form-group">
                    <label>Buscar archivo</label>
                    <div></div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="filePath" name="filePath">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary" id="filePathForm">Importar</button>
                    <button type="reset" class="btn btn-secondary" id="cancelButton">Cancelar</button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="kt-widget11" style="display:none; height: 600px;" data-always-visible="1" data-rail-visible="0" id="errorPanel">
                <table id="table" class="table" style="width: 100%">
                    <thead>
                        <tr>
                            <th colspan="3" style="text-align:center;">Detalle de errores de la importación</th>
                        </tr>
                        <tr>
                            <td style="width: 80px;">Identificador</td>
                            <td style="width: 50px;">Resultado</td>
                            <td>Mensajes</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function initializeDetailForm() {
        $("#errorPanel").hide();
        $.qLibs_setFormAjaxSubmit('#filePathForm', '#formContainer', '#importForm', true);
        setCancelDetailClick($('#cancelButton'));
    }

    function submitFormOK(result) {
        var data = result.Detalles;
        $("#table tbody tr").remove();
        $("#table").addClass("hidden");
        if (data) {
            var len = data.length;
            var txt = "";
            if (len > 0) {
                for (var i = 0; i < len; i++) {
                    txt += "<tr>";
                    txt += "<td class='kt-align-center kt-font-brand kt-font-bold kt-widget11__title'>" + data[i].Codigo + "</td>";
                    if (data[i].Resultado) {
                        txt += "<td><span class='kt-badge kt-badge--inline kt-badge--success'>OK</span></td>";
                    }
                    else {
                        txt += "<td><span class='kt-badge kt-badge--inline kt-badge--danger'>ERROR</span></td>";
                    }
                    var mensajes = data[i].Mensajes;
                    var lenM = mensajes.length;
                    var txtM = "<td>";
                    if (lenM > 0) {
                        for (var m = 0; m < lenM; m++) {
                            txtM += mensajes[m] + "<br>";
                        }
                    }
                    txtM += "</td>";
                    txt += txtM;
                    txt += "</tr>";
                }
                $("#table tbody tr").remove();
                $("#table tbody").append(txt);
                $("#table").removeClass("hidden");
                $("#errorPanel").show();
            }
        }
        if (fillGrid) {
            fillGrid();
        }
    }
</script>
