﻿@{
    var area = RocaAPI.AdminEcomm.Web.Code.Controllers.BaseController.GetAreaName(ViewContext);
    var user = User.GetUser();
    var menues = QLibs.Web.MVC.Menues.MenuHelper.GetMenu();
}

<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
    <div id="kt_aside_menu" class="kt-aside-menu " data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
        <ul class="kt-menu__nav ">
            @if (menues.Count > 0)
            {
                var data = new MenuDataHelper() { IsFirstLI = true };
                foreach (var menu in menues)
                {
                    if (menu.SiteMapKey == area)
                    {
                        foreach (var menuChild in menu.Childs)
                        {
                            @Html.Raw(PrintMenu(menuChild, data))
                        }
                    }
                }
            }
        </ul>
    </div>
</div>

@functions{
    public string PrintMenu(QLibs.Web.MVC.Menues.Menu menu, MenuDataHelper data)
    {
        var result = "";
        var visible = RocaAPI.AdminEcomm.Web.Code.SecurityManager.HasPermissionForMenu(menu) || menu.NoValidatePermission;
        if (!visible)
        {
        }
        else
        {
            if (menu.HasSubChilds() == false)
            {
                var classLi = "kt-menu__item " + (data.IsFirstLI ? "start" : "");
                if (EstaElItemGrupoActivo(menu))
                {
                    classLi += " kt-menu__item--active kt-menu__item--open";
                }
                data.IsFirstLI = false;
                result = string.Format("<li class='{0}' id='{2}' aria-haspopup='true'>{1}</li>", classLi, GetSubMenuParentLink(menu).ToString(), menu.SiteMapKey.Replace(".", "_"));
            }
            else
            {
                var classLi = "kt-menu__item kt-menu__item--submenu " + (data.IsFirstLI ? "start" : "");
                data.IsFirstLI = false;
                if (EstaElGrupoActivo(menu))
                {
                    classLi += " kt-menu__item--active kt-menu__item--open";
                }
                result += "<li class='" + classLi + "' aria-haspopup='true' data-ktmenu-submenu-toggle='hover'>";
                result += GetSubMenuLink(menu);
                result += @"<div class='kt-menu__submenu ' kt-hidden-height='160'>
<span class='kt-menu__arrow'></span>
<ul class='kt-menu__subnav '>";
                foreach (var subChild2 in menu.Childs)
                {
                    result += PrintMenu(subChild2, data);
                }
                result += "</ul></div>";
                result += "</li>";
            }
        }
        return result;
    }
    public bool EstaElGrupoActivo(QLibs.Web.MVC.Menues.Menu menu)
    {
        string area = QLibs.Web.MVC.QLibsController.GetAreaName(ViewContext);
        string controller = QLibs.Web.MVC.QLibsController.GetControllerName(ViewContext);
        string action = QLibs.Web.MVC.QLibsController.GetActionName(ViewContext);
        var key = QLibs.Web.MVC.Menues.SiteMap.GetKey(area, controller, action);
        if (menu.SiteMapKey == key)
            return true;
        foreach (var child in menu.Childs)
        {
            if (child.SiteMapKey == key)
                return true;
            if (child.HasSubChilds())
                foreach (var subChild in child.Childs)
                    if (EstaElGrupoActivo(subChild))
                        return true;
        }
        return false;
    }
    public bool EstaElItemGrupoActivo(QLibs.Web.MVC.Menues.Menu menu)
    {
        string area = QLibs.Web.MVC.QLibsController.GetAreaName(ViewContext);
        string controller = QLibs.Web.MVC.QLibsController.GetControllerName(ViewContext);
        string action = QLibs.Web.MVC.QLibsController.GetActionName(ViewContext);
        var key = QLibs.Web.MVC.Menues.SiteMap.GetKey(area, controller, action);
        if (menu.SiteMapKey == key)
            return true;
        return false;
    }
    public MvcHtmlString GetSubMenuParentLink(QLibs.Web.MVC.Menues.Menu menu)
    {
        var siteMap = QLibs.Web.MVC.Menues.SiteMapHelper.GetSiteMapItem(menu.SiteMapKey);
        string link = "";
        if (!string.IsNullOrEmpty(menu.Icon))
            link = string.Format(@"<a class='kt-menu__link ' href='{0}' title='{1}'>
<i class='kt-menu__link-icon {3}'></i>
<span class='kt-menu__link-text' style='text-align:center'>
&nbsp;{2}
</span>
</a>",
                Url.Action(siteMap.Action, siteMap.Controller, new { Area = siteMap.Area, id = "" }),
                siteMap.Title,
                menu.Title,
                menu.Icon);
        else
            link = string.Format(@"<a class='kt-menu__link ' href='{0}' title='{1}'>
<span class='kt-menu__link-text' style='text-align:center'>
&nbsp;{2}
</span>
</a>",
                Url.Action(siteMap.Action, siteMap.Controller, new { Area = siteMap.Area, id = "" }),
                siteMap.Title,
                menu.Title);
        return new MvcHtmlString(link);
    }
    public MvcHtmlString GetSubMenuLink(QLibs.Web.MVC.Menues.Menu menu)
    {
        string link = "";
        string url = "javascript:;";
        if (!string.IsNullOrEmpty(menu.SiteMapKey))
        {
            var siteMap = QLibs.Web.MVC.Menues.SiteMapHelper.GetSiteMapItem(menu.SiteMapKey);
            url = Url.Action(siteMap.Action, siteMap.Controller, new { Area = siteMap.Area, id = "" });
        }
        bool isActive = EstaElGrupoActivo(menu);
        if (!string.IsNullOrEmpty(menu.Icon))
            link = string.Format(@"<a class='kt-menu__link kt-menu__toggle' href='{3}' title='{0}'>
<i class='kt-menu__link-icon {2}'></i>
<span class='kt-menu__link-text' style='text-align:center'>
&nbsp;{1}
</span>
{4}
<i class='kt-menu__ver-arrow la la-angle-right {5}'></i>
</a>
",
                menu.Title,
                menu.Title,
                menu.Icon,
                url,
                (isActive ? "<span class='selected'></span>" : ""),
                (isActive ? "kt-menu__item--open" : ""));
        else
            link = string.Format(@"<a href='{2}' class='kt-menu__link nav-link2 kt-menu__toggle' title='{0}'>
<span class='title'>
&nbsp;{1}
</span>
{3}
<i class='kt-menu__ver-arrow la la-angle-right {4}'></i>
</a>
",
                menu.Title,
                menu.Title,
                url,
                (isActive ? "<span class='selected'></span>" : ""),
                (isActive ? "kt-menu__item--open" : ""));
        return new MvcHtmlString(link);
    }
    public MvcHtmlString GetSubMenuItemLink(QLibs.Web.MVC.Menues.Menu menu)
    {
        var siteMap = QLibs.Web.MVC.Menues.SiteMapHelper.GetSiteMapItem(menu.SiteMapKey);
        string link = "";
        if (!string.IsNullOrEmpty(menu.Icon))
            link = string.Format("<a href='{0}' class='nav-link nav-link3 ' title='{1}'><i class='kt-menu__link-icon {3}'></i><span class='kt-menu__link-text' style='text-align:center'>&nbsp;{2}</span></a>",
                Url.Action(siteMap.Action, siteMap.Controller, new { Area = siteMap.Area }),
                siteMap.Title,
                menu.Title,
                menu.Icon);
        else
            link = string.Format("<a class='nav-link nav-link3 ' href='{0}' title='{1}'><span class='kt-menu__link-text' style='text-align:center'>&nbsp;{2}</span></a>",
                Url.Action(siteMap.Action, siteMap.Controller, new { Area = siteMap.Area }),
                siteMap.Title,
                menu.Title);
        return new MvcHtmlString(link);
    }
    public class MenuDataHelper
    {
        public bool IsFirstLI { get; set; }
    }
}