﻿@using RocaAPI.AdminEcomm.Common.Entities.CORE.Seguridad;
@{
    Layout = null;
}
@model RocaAPI.AdminEcomm.Web.Models.MultiSelectPopupModel

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @if (!string.IsNullOrEmpty(Model.Title))
        {
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Html.Raw(Model.Title)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        }
        else
        {
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ROLES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
        }
        <div class="modal-body">
            <div class="form-group">
                <select id='multiselectRoles' name='multiselectRoles' class="searchable" multiple='multiple'>
                    @foreach (var rolItem in Model.Roles)
                    {
                        <option value='@Html.Raw(rolItem.Id)' @Html.Raw(rolItem.Selected ? "selected='selected'" : "")>@Html.Raw(rolItem.Text)</option>
                    }
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@RocaAPI.AdminEcomm.Web.Properties.Textos.CLOSE</button>
            <button type="button" class="btn btn-primary" id="saveRolesButton">@RocaAPI.AdminEcomm.Web.Properties.Textos.SAVE</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var selectedItems = [];

    $(document).ready(function () {
        $('.searchable').multiSelect({
            selectableHeader: "<input type='text' placeholder='Filtrar...' autocomplete='off' class='form-control search-input'>",
            selectionHeader: "<input type='text' placeholder='Filtrar...' autocomplete='off' class='form-control search-input'>",
            afterInit: function (ms) {
                var that = this,
                    $selectableSearch = that.$selectableUl.prev(),
                    $selectionSearch = that.$selectionUl.prev(),
                    selectableSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selectable:not(.ms-selected)',
                    selectionSearchString = '#' + that.$container.attr('id') + ' .ms-elem-selection.ms-selected';

                that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
                    .on('keydown', function (e) {
                        if (e.which === 40) {
                            that.$selectableUl.focus();
                            return false;
                        }
                    });

                that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
                    .on('keydown', function (e) {
                        if (e.which == 40) {
                            that.$selectionUl.focus();
                            return false;
                        }
                    });
            },
            afterSelect: function (value) {
                this.qs1.cache();
                this.qs2.cache();
            },
            afterDeselect: function (value) {
                this.qs1.cache();
                this.qs2.cache();
            }
        });
    });

</script>