﻿@model RocaAPI.AdminEcomm.Web.Models.ProductImagePartialModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <img class="centerImageOnDiv" data-image-id="@Html.Raw(Model.ImageId)" src="@Url.Content(Model.Path)" />
        </div>
    </div>
</div>
<script type="text/javascript">
    function initializePopupFunctionNameProduct(modal) {
        reloadImagesPartials();
    }
</script>
