﻿@{
    Layout = null;
}
@model RocaAPI.AdminEcomm.Web.Models.TreeViewChildsChildsModel

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@Html.Raw(Model.Title)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @Html.HiddenFor(m => m.ParentBaseEntityID)
                <div id="tree_2" class="tree-demo"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@RocaAPI.AdminEcomm.Web.Properties.Textos.CLOSE</button>
            <button type="button" class="btn btn-primary" id="saveTreeViewChildsButton">@RocaAPI.AdminEcomm.Web.Properties.Textos.SAVE</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var $data = [@Html.Raw(RocaAPI.AdminEcomm.Web.Models.TreeItem.GetJson(Model.TreeData))];
</script>