﻿@using QLibs.Web.MVC.Extensions;
@{
    Layout = "~/Views/Shared/_LayoutDatatableSearchSimple.cshtml";
    var viewInfo = RocaAPI.AdminEcomm.Web.Code.Controllers.BaseController.GetMVCInfoValited(ViewContext, Url);
}
@section filterbar{
}
@section toolbarbuttons{
    @*@if ( RocaAPI.AdminEcomm.Web.Code.SecurityManager.HasPermissionForAction(viewInfo.ExportActionKey))
        {
            <a id="exportButton" class="btn btn-label-success btn-bold" href="@Html.Raw(viewInfo.ExportAction)" target="_blank">
                <i class="flaticon-multimedia-4"></i>@RocaAPI.AdminEcomm.Web.Properties.Textos.Exportar
            </a>
        }*@
}

@section advancedfilters{
    <div class="kt-quick-panel__nav" kt-hidden-height="66" style="">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications" role="tab" aria-selected="true">@RocaAPI.AdminEcomm.Web.Properties.Textos.MasFiltros</a>
            </li>
        </ul>
    </div>
    <div class="kt-quick-panel__content">
        <div class="tab-content">
            <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll ps active show ps--active-y" id="kt_quick_panel_tab_notifications" role="tabpanel" style="height: 400px; overflow: hidden;">
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("cdCliente", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            <input type="text" class="form-control kt-input form-control" id="nrPedidoCliente" name="nrPedidoCliente" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.PedidoCliente.ToUpper()" />
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            <input type="text" class="form-control kt-input form-control" id="nrPedidoSap" name="nrPedidoSap" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.NumeroPedidoSAP.ToUpper()" />
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                            <input type="text" class="form-control" data-date-format="dd/mm/yyyy" id="fFechaDesde" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaIngresoDesde.ToUpper()">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="kt-input-icon kt-input-icon--pill kt-input-icon--right">
                            <input type="text" class="form-control" data-date-format="dd/mm/yyyy" id="fFechaHasta" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaIngresoHasta.ToUpper()">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-calendar-check-o"></i></span></span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="AdvancedFilter">@RocaAPI.AdminEcomm.Web.Properties.Textos.Buscar</button>
            </div>
        </div>
    </div>
}
@section headtag{
    <style type="text/css">
        #DataTables_Table_0 tbody tr {
            cursor: pointer;
        }
    </style>
}
@section JavascriptScripts{
    <script type="text/javascript">
       @Html.Raw(viewInfo.PrintJsURLS())

        var urlDetallePedidoInterno = '@Html.Raw(Url.Action("PedidoInternoUpdate"))';
        var urlSendApi = '@Html.Raw(Url.Action("SendApi"))';

        var urlComboClient = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.Client, emptyValue = true }))';

        $(document).ready(function () {
            $("#fFechaDesde, #fFechaHasta").datepicker({ dateFormat: 'DD/M/YYYY' });
            $.qLibs_fillComboAutocomplete('#cdCliente', urlComboClient);

            if (urlCreateAction) $("#addButton").click(function () { showDetailForm(urlCreateAction); });
            $('#AdvancedFilter').click(function () { fillGrid() });
            fillGrid();
         });

        function getGridURL() {
            return urlSearchAction;
        }

        function getGridQueryParams() {
            return {
                Filters: {
                    FindValue: $('#FindValue').val(),
                    CdCliente: $('#cdCliente').val(),
                    NrPedidoCliente: $('#nrPedidoCliente').val(),
                    NrPedidoSap: $('#nrPedidoSap').val(),
                    DtEntradaFrom: $('#fFechaDesde').val(),
                    DtEntradaTo: $('#fFechaHasta').val(),
                }
            };
        }

        function getGridActionsItems(x, a, e) {
            var actions = [];
            if (urlUpdateAction != "" && (e.Status == '0' || e.Status == 'PROCESSANDO' || e.Status == 'ERRO')) actions.push({ icon: qlibs_mDataTableIconUpdate, onclick: "return editRow(\'" + urlUpdateAction + "?BaseEntityID=" + e.BaseEntityID + "\')", text: '@RocaAPI.AdminEcomm.Web.Properties.Textos.Editar' });
            return actions;
        }

        function getGridColumns() {
            return [
                getGridActionColumn(),
                { data: "ClienteNmEstabelecimento", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Cliente", width: '100px' },
                { data: "EmissorNmEstabelecimento", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.ClienteEmisor", width: '100px' },
                { data: "RecebedorNmEstabelecimento", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.ClienteReceptor", width: '80px' },
                { data: "NrPedidoCliente", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.PedidoCliente", width: '50px' },
                { data: "NrPedidoSap", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.NumeroPedidoSAP", width: '80px' },
                { data: "CdTipoPedido", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.TipoPedido", width: '230px' },
                { data: "DtEntradaString", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaIngreso", width: '120px' },
                { data: "DtProgramacaoString", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.FechaProgramada", width: '120px' },
                { data: "SendApi", class: 'action_column', title: "", orderable: false, overflow: "visible", render: function (e, a, i) { return getGridButtonColumnSendApi(e, a, i); } },
            ];
        }

        function submitFormOK() {
            setTimeout(function () {
                showGrid(true);
                fillGrid();
            }, 2000);
        }

        function getGridButtonColumnSendApi(e, a, i) {
            if (i.Status != '0' && i.Status != 'PROCESSANDO' && i.Status != 'ERRO') return '';
            return '<a href="javascript::void(0)" onclick="sendApi(\'' + i.BaseEntityID + '\')" class="btn btn-brand btn-bold"><span class="kt-nav__link-text">ENVIAR</span></a>'
        }

        function sendApi(BaseEntityID) {
            debugger
            $.qLibs_showAlertConfirmMessage('¿Está seguro que desea enviar el pedido interno?', function () {
                $.qLibs_doAjaxSubmit('body', urlSendApi + "?BaseEntityID=" + BaseEntityID, 'POST');
            }, function () {
                return false;
            });
            return false;
        }

        function submitOkSendApi(data) {
            debugger
            alert('OK');
            fillGrid();
        }
    </script>
}