﻿@model  RocaAPI.AdminEcomm.Web.Models.ProdutoModels.ProdutoModel
@using QLibs.Web.MVC.Extensions;

@{
    var areaName = QLibsController.GetAreaName(ViewContext);
    var controlerName = QLibsController.GetControllerName(ViewContext);
    var user = User.GetUser();
}

<div class="kt-portlet kt-portlet--tabs" id="entityContainer">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-toolbar">
            <ul class="nav nav-tabs nav-tabs-space-xl nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_apps_user_edit_tab_1" role="tab" aria-selected="true">
                        @RocaAPI.AdminEcomm.Web.Properties.Textos.Produto
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="kt_apps_user_edit_tab_1" role="tabpanel">
                <div class="kt-form kt-form--label-right">
                    <div class="kt-form__body">
                        <div class="row">
                            <div class="col-md-12 col-lg-9 col-xl-10">
                                <div class="form-group kt-form__group row">
                                    <div class="col-lg-3">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Marca</label>
                                        @Html.TextBoxFor(m => m.Entity.Brand, Model.Entity.HasID ? (object)new { @readonly = "readonly", @class = "form-control form-control-codigo kt-input form-control form-control-readonly" } : new { @class = "form-control form-control-codigo kt-input form-control" })
                                    </div>
                                    <div class="col-lg-5">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Codigo</label>
                                        @Html.TextBoxFor(m => m.Entity.Code, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="form-group kt-form__group row">
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Ean</label>
                                        @Html.TextBoxFor(m => m.Entity.Ean, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Descripcion</label>
                                        @Html.TextBoxFor(m => m.Entity.Description, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Linea</label>
                                        @Html.TextBoxFor(m => m.Entity.Line, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Categoria</label>
                                        @Html.TextBoxFor(m => m.Entity.Category, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Tipo</label>
                                        @Html.TextBoxFor(m => m.Entity.Type, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Subtipo</label>
                                        @Html.TextBoxFor(m => m.Entity.Subtype, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Paquete</label>
                                        @Html.TextBoxFor(m => m.Entity.Package, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>

                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Paquete</label>
                                        @Html.TextBoxFor(m => m.Entity.InstalationStuff, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Garantia</label>
                                        @Html.TextBoxFor(m => m.Entity.Warranty, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Aplicacion</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoAplication, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Formato</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoFormat, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.ModoFuncion</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoFunctionmode, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.TipoInstalacion</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoInstalationtype, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Ambiente</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoAmbience, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Waterpoint</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoWaterpoint, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Motion</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoMotion, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Aerator</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoAerator, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Tap</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoTap, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.PresionAgua</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoWaterpression, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Finish</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoFinish, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Material</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoMaterial, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Perforacion</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoDrilling, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Garantia</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoSewer, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Info</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoFlush, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Otros</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoOthers, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Color</label>
                                        @Html.TextBoxFor(m => m.Entity.AddinfoColor, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>

                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Precio</label>
                                        @Html.TextBoxFor(m => m.Entity.Price, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.PesoPaquete</label>
                                        @Html.TextBoxFor(m => m.Entity.PackageWeight, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.AlturaPaquete</label>
                                        @Html.TextBoxFor(m => m.Entity.PackageHeight, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.AnchoPaquete</label>
                                        @Html.TextBoxFor(m => m.Entity.PackageWidth, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.ProfundidadPaquete</label>
                                        @Html.TextBoxFor(m => m.Entity.PackageDepth, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>

                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Ncm</label>
                                        @Html.TextBoxFor(m => m.Entity.Ncm, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.PrecioTotal</label>
                                        @Html.TextBoxFor(m => m.Entity.PriceFull, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.AlturaProducto</label>
                                        @Html.TextBoxFor(m => m.Entity.ProductHeight, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.AnchoProducto</label>
                                        @Html.TextBoxFor(m => m.Entity.ProductWidth, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.ProfundidadProducto</label>
                                        @Html.TextBoxFor(m => m.Entity.ProductDepth, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.UpdateDate</label>
                                        @Html.TextBoxFor(m => m.Entity.UpdateDate, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Zzoutlet</label>
                                        @Html.TextBoxFor(m => m.Entity.Zzoutlet, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.NovoOutlet</label>
                                        @Html.TextBoxFor(m => m.Entity.NovoOutlet, new { @class = "form-control kt-input form-control-readonly number_column", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.MktText</label>
                                        @Html.TextBoxFor(m => m.Entity.MktText, new { @class = "form-control kt-input " })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Enfasis</label>
                                        @Html.TextBoxFor(m => m.Entity.Destaque, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>

                                    @*<div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">&nbsp;</label>
                                        @Html.TextBoxFor(m => m.Entity.UrlVideoTec, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">&nbsp;</label>
                                        @Html.TextBoxFor(m => m.Entity.UrlVideoInst, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">&nbsp;</label>
                                        @Html.TextBoxFor(m => m.Entity.UrlVideoPub, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>*@

                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Precio</label>
                                        @Html.TextBoxFor(m => m.Entity.CdLinha, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Segmento</label>
                                        @Html.TextBoxFor(m => m.Entity.CdSegmento, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Clase</label>
                                        @Html.TextBoxFor(m => m.Entity.CdClasse, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-2">
                                        <label class="col-form-label">@RocaAPI.AdminEcomm.Web.Properties.Textos.Carrossel02</label>
                                        @Html.TextBoxFor(m => m.Entity.Carrossel02, new { @class = "form-control kt-input form-control-readonly", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var urlRefresh = '@Html.Raw(Url.Action("ProdutoUpdate", new { BaseEntityID = Model.Entity.BaseEntityID }))';
</script>

<script type="text/javascript">
    function initializeDetailForm(actionsDiv) {
        actionsDiv.html(getRefreshButton() + getCancelButton());
        setCancelRefreshDetailClick($('#cancelButton'), $('#refreshButton'));
    }
    function getRefreshButton() {
        return '<a id="refreshButton" class="btn btn-label-info btn-bold"><i class="flaticon-refresh" style="padding-right: 0px;"></i></a>';
    }
    function setCancelRefreshDetailClick(buttonC, buttonR) {
        if (buttonC)
            setCancelDetailClick(buttonC);
        if (buttonR)
            setRefreshDetailClick(buttonR);
    }
    function setRefreshDetailClick(button) {
        button.on("click", function (a) {
            a.preventDefault();
            showDetailForm(urlRefresh);
            return false;
        });
    }
</script>