﻿@model RocaAPI.AdminEcomm.Web.Models.AccountModels.LoginModel
@using QLibs.Web.MVC.Extensions;

<div class="kt-login__signin">
    @using (Html.BeginForm("ExecuteLogin", "Account", FormMethod.Post, new { role = "form", @class = "kt-form", autocomplete = "nope" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("ReturnUrl", Request["ReturnURL"])
        <div class="input-group">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", type = "text", placeholder = RocaAPI.AdminEcomm.Web.Properties.Textos.IngreseUsuario, autocomplete = "off" })
        </div>
        <div class="input-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = RocaAPI.AdminEcomm.Web.Properties.Textos.IngresePass })
        </div>
        if (Model.InvalidIntents > RocaAPI.AdminEcomm.Web.Models.AccountModels.LoginModel.MAXREINTENTOS)
        {
            <div class="input-group">
                <table style="width: 100%;margin-top: 1.5rem;"><tr><td style="width: 50%"></td><td>@Html.reCaptcha("login")</td><td style="width: 50%"></td></tr></table>
            </div>
        }
        <div class="row kt-login__extra">
            <div class="col">
                <label class="kt-checkbox">
                    <input type="checkbox" name="Remember" value="true">
                    @RocaAPI.AdminEcomm.Web.Properties.Textos.Recordarme
                    <span></span>
                </label>
            </div>
        </div>
        <div class="kt-login__actions">
            <button type="button" id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">@RocaAPI.AdminEcomm.Web.Properties.Textos.Ingresar</button>
        </div>
    }
</div>
