﻿.centerImageOnDiv {
    display: block;
    margin: auto;
}
.showImageOnPopup {
    cursor: pointer;
}

.kt-header {
    height: 40px
}
.table {
    font-family: 'Roboto';
    text-transform: uppercase;
    color: #494949;
}
.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
    color: #494949;
}
#ValorDescuento i {
    position: absolute;
    margin-top: -7px;
    margin-left: -7px;
}
input#Cantidad {
    padding: 0;
}
@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 80px;
    }
    .kt-subheader--fixed .kt-subheader {
        top: 40px;
    }
    .kt-subheader .kt-subheader__main {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}


.kt-subheader {
    background-color: white;
    display: flex;
    align-items: stretch;
    padding: 0 !important;
}
    .kt-subheader .kt-container {
        padding: 5px 25px;
    }

    .kt-subheader .kt-subheader__main .kt-subheader__title {
        /*color: #22b9ff;*/
    }

.kt-portlet .kt-portlet__body {
    padding: 20px;
}

.kt-container {
    padding: 0 0px;
}

.kt-subheader .kt-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}

.kt-subheader .kt-subheader__toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.kt-content {
    padding: 10px !important;
}

.action_column {
    width: 1px !important;
    white-space: nowrap;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #fd397a;
}

.text-danger,
.invalid-feedback {
    color: #fd397a !important;
}

.col-number {
    text-align: right;
}
span.col-number,
input.col-number,
td.col-number {
}

.number_column {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    text-align: right;
}

.form-control-codigo {
    font-weight: bold;
    width: 200px;
}

.form-control-readonly {
    background-color: #F8F8FB !important;
}

.col-form-label-codigo {
    font-weight: 600 !important;
}

.kt-header__brand {
    background-color: #F8F8FB !important;
}

.dataTables_empty {
    font-size: 20px;
    padding: 20px !important;
}

.dataTables_wrapper .dataTable {
    margin: 0px !important;
}

#gridPanel {
    background-color: white;
}

.dataTables_info {
    padding-left: 20px;
    padding-top: 10px;
}

.dataTables_pager {
    padding-right: 20px;
    padding-top: 10px;
}

.table-bordered {
    border: none !important;
}
 .table-bordered th, .table-bordered td {
        border: none;
    }
    
.table th, .table td {
    padding: 0.25rem !important;
}

.kt-badge.kt-badge--danger {
    background: red !important;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom: solid 1px rgb(235, 237, 242);
}

.table th, .table td {
    padding: 0.2rem !important;
}

.table thead th, .table thead td {
    background-color: white !important;
    color: #494949 !important;
    padding: 15px !important;
    font-size: 1.0rem;
    border: none;
    border-bottom: solid 2px #9FA1AE
}

.dataTables_wrapper .pagination .page-item.previous > .page-link, .dataTables_wrapper .pagination .page-item.next > .page-link, .dataTables_wrapper .pagination .page-item.last > .page-link, .dataTables_wrapper .pagination .page-item.first > .page-link {
    background: #ebe9f2;
}

    .dataTables_wrapper .pagination .page-item.previous > .page-link:hover, .dataTables_wrapper .pagination .page-item.next > .page-link:hover, .dataTables_wrapper .pagination .page-item.last > .page-link:hover, .dataTables_wrapper .pagination .page-item.first > .page-link:hover {
        /*background: #22b9ff;*/
    }

.dataTables_wrapper .pagination .page-item.active > .page-link {
    background: #13BE8e;
}

.dataTables_wrapper .pagination .page-item:hover > .page-link {
    background: #13BE8e;
}

.table td {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.dataTables_empty {
    font-size: 20px;
    padding: 20px !important;
}

.dataTables_wrapper .dataTable td {
    color: #444;
}
.kt-aside .kt-aside-menu {
    padding-top: 0px;
}

.dataTable_blue {
    font-weight: bold;
    color: #6c7293;
    background-color: #2C77F4;
    color: white !important;
    padding: 9px !important;
    font-size: 1.0rem;
    border: none;
    border: 0px solid #ebedf2 !important;
    border-left-width: 0;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    border-bottom-width: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: bottom;
    border-bottom: 0px solid #ebedf2;
    border: 0px solid #ebedf2;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #ebedf2;
    border-collapse: initial !important;
    border-spacing: 0 !important;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 2px;
}

@media (max-width: 1024px) {
    .kt-header__topbar {
        margin-top: -68px;
    }
    .kt-header__topbar--mobile-on .kt-header__topbar {
        margin-top: -18px;
    }
    .kt-header {
        height: 0px;
    }
}