﻿@using QLibs.Web.MVC.Extensions;
@model RocaAPI.AdminEcomm.Web.Models.AccountModels.LoginModel
@{ Layout = "~/Views/Shared/_LogOff.cshtml"; }

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" @Html.Raw("style='background-image: url("+ Url.Content("~/_Content/metronic_v603/assets/media/bg/bg-3.jpg") +")'")>
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <img src="@Url.Content("~/_Content/metronic_v603/assets/media/logos/logo-5.png")">
                    </div>
                    @* LOGIN *@
                    <div id="login">
                        @Html.Partial("~/Views/Account/Partials/LoginPartial.cshtml", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end:: Page -->
@section headtag{
    <style type="text/css">
        .g-recaptcha {
            display: inline-block;
        }
    </style>
}
@section JavascriptScripts
{
    <script src="@Url.Content("~/_Content/js/login.js")" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
           KTLoginGeneral.init('login', 'forgot');
            KTLoginQUBIC();
        });

        function KTLoginQUBIC() {
            $('#login').each(function () {
                $(this).find('input').keypress(function (e) {
                    if (e.which == 10 || e.which == 13) {
                        $('#kt_login_signin_submit').click();
                    }
                });
            });
        }
    </script>
}