﻿@model RocaAPI.AdminEcomm.Web.Models.HomeModels.IndexModel

@section headtag{
    <link href="@Url.Content("~/_Content/metronic_v603/assets/css/demo6/pages/general/pricing/pricing-1.css")" rel="stylesheet" type="text/css" />
}

@if (!string.IsNullOrEmpty(Model.TestCulture))
{
    @Html.Raw(Model.TestCulture)
    <hr />
    @Html.Raw(Model.TestCultureDouble.ToString())
}

@section JavascriptScripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
