﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section prebody{
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container  kt-container--fluid ">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    @if (IsSectionDefined("title"))
                    {
                        @RenderSection("title", false)
                    }
                    else
                    {
                        @Html.Raw(RocaAPI.AdminEcomm.Web.Code.Controllers.BaseController.SiteMapPageTitle(ViewContext))
                    }
                </h3>
                <div class="kt-subheader__group" id="kt_subheader_search">
                    @RenderSection("hideadvancedfiltersbutton", false)
                    @if (IsSectionDefined("filters"))
                    {
                        @RenderSection("filters", false)
                    }
                    else
                    {
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        @RenderSection("filterbar", false)
                        <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                            <input type="text" class="form-control" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.BuscarPlaceHolder" id="FindValue">
                            <span id="FindValueButton" class="kt-input-icon__icon kt-input-icon__icon--right">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                            <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" id="Path-2" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" id="Path" fill="#000000" fill-rule="nonzero"></path>
                                        </g>
                                    </svg>
                                </span>
                            </span>
                        </div>
                        if (IsSectionDefined("advancedfilters") && !IsSectionDefined("hideadvancedfiltersbutton"))
                        {
                            <span>&nbsp;&nbsp;</span><button class="btn btn-label-brand btn-bold" id="kt_quick_panel_toggler_btn">@RocaAPI.AdminEcomm.Web.Properties.Textos.MasFiltros</button>
                        }
                    }
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <div id="gridActions" style="display: block;">
                    @if (IsSectionDefined("toolbarbuttons"))
                    {
                        @RenderSection("toolbarbuttons", false)
                    }
                    @if (IsSectionDefined("actions"))
                    {
                        <div class="kt-subheader__wrapper">
                            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip-" title="Quick actions" data-placement="left">
                                <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--success kt-svg-icon--md">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" id="Combined-Shape" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                            <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" id="Combined-Shape" fill="#000000"></path>
                                        </g>
                                    </svg>
                                </a>
                                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                                    @RenderSection("actions", false)
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="detailActions" style="display: none;">
                </div>
            </div>
        </div>
    </div>
}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <!-- begin:: Content -->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <!--Begin::App-->
        <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
            <!--Begin:: App Aside Mobile Toggle-->
            <button class="kt-app__aside-close" id="kt_contact_aside_close">
                <i class="la la-close"></i>
            </button>
            <!--End:: App Aside Mobile Toggle-->
            <!--Begin:: App Aside-->
            <div class="kt-grid__item kt-app__toggle kt-app__aside" id="kt_contact_aside" style="opacity: 1;">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        @RenderSection("filterbarLateral", false)
                    </div>
                </div>
            </div>
            <!--End:: App Aside-->
            <!--Begin:: App Content-->
            <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body" id="gridPanel" style="display: block;">
                        @RenderSection("pretable", false)
                        <!--begin: Datatable -->
                        <table class="table table-striped- table-bordered table-hover table-checkable data_table"></table>
                        <!--end: Datatable -->
                    </div>
                    <div id="detailPanel" style="display: none;"></div>
                </div>
            </div>
            <!--End:: App Content-->
        </div>
        <!--End::App-->
    </div>
    <!-- end:: Content -->
</div>

@RenderBody()

@section headtag{
    @RenderSection("headtag", false)
}
@section JavascriptScripts{
    <script>
        var urlDetailAction = "";
        var urlCreateAction = "";
        var urlUpdateAction = "";
        var urlDeleteAction = "";
        var urlSearchAction = "";
        var urlImportAction = "";
        var urlExportAction = "";
        var urlReactiAction = "";
    </script>
    @RenderSection("JavascriptScripts", false)
}