﻿@using Microsoft.AspNet.Identity;
@using QLibs.Web.MVC.Extensions;
@using QLibs.Web;
@{
    var tenantCode = "";
    var userName = "";
    RocaAPI.AdminEcomm.Common.Entities.CORE.Seguridad.Usuario usuario = null;
    if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var claimsIdentity = ((System.Security.Claims.ClaimsIdentity)System.Web.HttpContext.Current.User.Identity);
        if (claimsIdentity != null)
        {
            tenantCode = claimsIdentity.FindFirst(System.IdentityModel.Claims.ClaimTypes.GivenName).Value;
            userName = claimsIdentity.FindFirst(System.IdentityModel.Claims.ClaimTypes.NameIdentifier).Value;
            usuario = System.Web.HttpContext.Current.User.GetUser();
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <!--begin::Base Path (base relative path for assets of this page) -->
    <base href="@Url.Content("~/")">
    <!--end::Base Path -->
    <meta charset="utf-8" />
    <title>@Html.Raw(RocaAPI.AdminEcomm.Web.Code.Controllers.BaseController.GetWebTitle(Html.ViewContext))</title>
    <meta name="description" content="RocaAPI.AdminEcomm;QUARES">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    @Styles.Render("~/metronic/css")
    <link href="@Url.Content("~/_Content/metronic_v603/assets/css/demo3/style.bundle.css")" rel="stylesheet" type="text/css" />
    <!--end::Fonts -->
    <link href="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/jstree/jstree.bundle.css")" rel="stylesheet" />
    <link href="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/datatables/datatables.bundle.css")" rel="stylesheet" />
    <style>
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting:after {
            opacity: 0;
        }
    </style>
    <link href="@Url.Content("~/_Content/metronic_v603_customization.css?" + DateTime.Now.ToString("ddMMyyyyHHmmss") )" rel="stylesheet" type="text/css" />
    <style>
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: black;
        }

        .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active,
        .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active {
            /*border-bottom: 1px solid #22b9ff;*/
        }

        .btn-brand {
            /*        background-color: #22b9ff !important;
                border-color: #22b9ff !important;
        */
        }

        .kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .kt-header__topbar-welcome {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #959cb6;
        }

        .kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user .kt-header__topbar-username {
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            color: #6c7293;
        }

        .kt-header__topbar .kt-header__topbar-item .kt-header__topbar-icon {
            height: 35px;
        }

        .kt-font-brand,
        .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand.nav.nav-tabs .nav-link.active, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link:hover, .nav-tabs.nav-tabs-line.nav-tabs-line-brand a.nav-link.active,
        .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon {
            color: #22b9ff !important;
        }

        table.table-bordered.dataTable tbody tr:first-child th,
        table.table-bordered.dataTable tbody tr:first-child td {
            padding-top: 15px !important;
        }

        .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-user img {
            max-height: 24px;
        }
    </style>
    @RenderSection("headtag", false)
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="@Url.Content("~/_Content/metronic_v603/assets/media/logos/favicon.ico")" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->Loading ...
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="@Url.Action("Index", "Home", new { Area = "" })">
                <img alt="Logo" src="@Url.Content("~/_Content/metronic_v603/assets/media/logos/logo-6-sm.png")" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler kt-header-mobile__toolbar-toggler--left" id="kt_aside_mobile_toggler"><span></span></button>
            @*<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>*@
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <!-- begin:: Aside -->
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">
                <!-- begin:: Aside -->
                <div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
                    <div class="kt-aside__brand-logo">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })">
                            <img alt="Logo" src="@Url.Content("~/_Content/metronic_v603/assets/media/logos/logo-6-sm.png")" />
                        </a>
                    </div>
                </div>
                <!-- end:: Aside -->
                <!-- begin:: Aside Menu -->
                <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
                    <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
                        @Html.Partial("~/Views/Shared/Partials/Menu.cshtml")
                    </div>
                </div>
                <!-- end:: Aside Menu -->
            </div>
            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">
                    <!-- begin: Header Menu -->
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-tab ">
                        </div>
                    </div>
                    <!-- end: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    @{
                        var banderaCulturaActual = "016-spain.svg";
                        var cultureName = System.Globalization.CultureInfo.CurrentUICulture.Name;
                        if (cultureName.StartsWith("en"))
                        {
                            banderaCulturaActual = "020-flag.svg";
                        }
                    }
                    <div class="kt-header__topbar">
                        <!--begin: User Bar -->
                        @Html.Partial("~/Views/Shared/Partials/Header_User.cshtml")
                        <!--end: User Bar -->
                    </div>
                    <!-- end:: Header Topbar -->
                </div>
                <!-- end:: Header -->

                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                    <!-- begin:: Content -->
                    <!-- begin:: Content -->
                    @RenderSection("prebody", false)
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                        @RenderBody()
                    </div>
                    <!-- end:: Content -->
                    <!-- end:: Content -->
                </div>

                <!-- begin:: Footer -->
                @Html.Partial("~/Views/Shared/Partials/footer.cshtml")
                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>
    <!-- end::Scrolltop -->

    <div id="ajax-modal-image" class="modal fade" data-keyboard="true" tabindex="-1" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <img id="ajax-modal-image-control" src="" style="max-height: 700px" /> 
                </div>
            </div>
        </div>
    </div>
    <div id="ajax-modal-normal" class="modal fade" data-keyboard="true" tabindex="-1" data-backdrop="static"> </div>
    <div id="ajax-modal-container" class="modal container fade" tabindex="-1" data-keyboard="false" data-backdrop="static"> </div>

    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#22b9ff",
                    "light": "#ffffff",
                    "dark": "#282a3c",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd397a"
                },
                "base": {
                    "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                    "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin:: Global Mandatory Vendors -->
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery/dist/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/popper.js/dist/umd/popper.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/js-cookie/src/js.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/moment/min/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/tooltip.js/dist/umd/tooltip.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/sticky-js/dist/sticky.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/wnumb/wNumb.js")" type="text/javascript"></script>
    <!--end:: Global Mandatory Vendors -->
    <!--begin:: Global Optional Vendors -->
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery-form/dist/jquery.form.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/block-ui/jquery.blockUI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/bootstrap-datepicker.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/bootstrap-timepicker.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-maxlength/src/bootstrap-maxlength.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-select/dist/js/bootstrap-select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/bootstrap-switch.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/ion-rangeslider/js/ion.rangeSlider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/typeahead.js/dist/typeahead.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/handlebars/dist/handlebars.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/inputmask/dist/jquery.inputmask.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/nouislider/distribute/nouislider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/owl.carousel/dist/owl.carousel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/autosize/dist/autosize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/clipboard/dist/clipboard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/dropzone/dist/dropzone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/summernote/dist/summernote.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/markdown/lib/markdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/bootstrap-markdown.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/bootstrap-notify/bootstrap-notify.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/bootstrap-notify.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery-validation/dist/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery-validation/dist/additional-methods.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/jquery-validation.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/toastr/build/toastr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/raphael/raphael.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/morris.js/morris.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/chart.js/dist/Chart.bundle.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/waypoints/lib/jquery.waypoints.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/counterup/jquery.counterup.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/es6-promise-polyfill/promise.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/sweetalert2/dist/sweetalert2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/js/vendors/sweetalert2.init.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery.repeater/src/lib.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery.repeater/src/jquery.input.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/jquery.repeater/src/repeater.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/dompurify/dist/purify.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/jstree/jstree.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/general/select2/dist/js/select2.js")"></script>
    <!--end:: Global Optional Vendors -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="@Url.Content("~/_Content/metronic_v603/assets/js/demo3/scripts.bundle.min.js")" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Vendors(used by this page) -->
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/fullcalendar/fullcalendar.bundle.js")" type="text/javascript"></script>
    @*<script src="//maps.google.com/maps/api/js?key=AIzaSyBTGnKT7dt597vo9QgeQ7BFhvSRP4eiMSM" type="text/javascript"></script>
        <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/gmaps/gmaps.js")" type="text/javascript"></script>*@
    <!--end::Page Vendors -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="@Url.Content("~/_Content/metronic_v603/assets/js/demo3/pages/dashboard.js")" type="text/javascript"></script>
    <!--end::Page Scripts -->
    <script src="@Url.Content("~/_Content/js/qubicScript_" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js?v=20220622")"></script>
    <script src="@Url.Content("~/_Content/js/qLibsHelpers.js?v=20220622")"></script>
    <script src="@Url.Content("~/_Content/js/qLibsHelpers_" + System.Globalization.CultureInfo.CurrentUICulture.Name + ".js?v=20220622")"></script>
    <script src="@Url.Content("~/_Content/metronic_v603/assets/vendors/custom/datatables/datatables.bundle.js")"></script>
    <script type="text/javascript">
        qLibs_waitMessage = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.EsperePorFavor)';
        var urlProductImagePartials = '@Html.Raw(Url.Action("ProductImagePartials"))';
        var urlProductImagePopup = '@Html.Raw(Url.Action("ProductImagePopup"))';

        var placeholder_color = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.SeleccionarColor)';
        var placeholder_Produto = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.SeleccionarProduto)';
        var placeholder_marca = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.SeleccionarMarca)';
        var placeholder_tipopieza = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.SeleccionarTipoPieza)';
        var placeholder_situacion = '@Html.Raw(RocaAPI.AdminEcomm.Web.Properties.Textos.SeleccionarSituacion)';
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#fCompania').length) {
                $($('#fCompania').parent()).hide();
                $.qLibs_fillCombo($('#fCompania'), urlComboCompaniaMaster, null, function () {
                    if ($('#fCompania option').length > 1) $($('#fCompania').parent()).show();
                    $('#fCompania').change(function () { fillGrid(); });
                    fillGrid();
                });
            }
        });
        function filtroCompania(compa) {
            if (compa == null || compa == "")
                return "US70";
            return compa;
        }
        function reloadImagesPartials() {
            $(".productImage").each(function (index, element) {
                var complete = $(element).data('complete');
                if (complete == false) {
                    $.ajax({
                        url: urlProductImagePartials + "?p=" + $(element).data('id') + "&mh=" + $(element).data('max-h'),
                        method: 'GET',
                        success: function (data, textStatus, jqXHR) {
                            $(element).data('complete', true);
                            $(element).html(data);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            debugger
                        }
                    });
                }
            });
            setImageClickPopup();
        }
        function getValorDateRangeFrom(selector) {
            var value = $(selector).data("from");
            if (value)
                value = value.format("YYYY-MM-DD");
            return value;
        }
        function getValorDateRangeTo(selector) {
            var value = $(selector).data("to");
            if (value)
                value = value.format("YYYY-MM-DD");
            return value;
        }
        function setDateInControl(selector, start, end) {
            $(selector).data("from", start);
            $(selector).data("to", end);
            $(selector + ' .form-control').val(start.format('MM/DD/YYYY') + ' to ' + end.format('MM/DD/YYYY'));
        }
        function setImageClickPopup(onclickEvent) {
            $(".showImageOnPopup").unbind("click")
            $(".showImageOnPopup").click(function () {
                event.stopPropagation();
                if (onclickEvent) {
                    onclickEvent();
                }
                debugger
                if ($(this).data('imagefromsource') == true) {
                    $("#ajax-modal-normal .closeModal").click()
                    var imageSrc = $(this).attr('src');
                    $("#ajax-modal-image-control").attr('src', imageSrc);
                    $("#ajax-modal-image").modal();
                    return
                }

                var imageId = $(this).data('image-id');
                var container = "#" + $(this).parent().attr('id');
                $.qLibs_blockOnContainer(container);
                $.qLibs_showEntityModalFormUnblockContainer($('#ajax-modal-normal'), urlProductImagePopup + "?p=" + imageId, 'initializePopupFunctionNameProduct', container);
                return false;
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.qLibs_configureValidator();
        });
        $(document).on("input", ".solonumeros", function () {
            this.value = this.value.replace(/\D/g, '');
        });
        $(document).on("input", ".condecimales", function () {
            if (this.value.length == 1 && this.value == '-') {
                //do nothing
            }
            else {
                var retValu = testInput(this.value);

                if (retValu != '1') {
                    try {
                        this.value = this.value.substring(0, this.value.length - 1);
                    } catch (e) {
                    }
                }
            }
        });
        function testInput(inputValue) {
            if (inputValue.match(/^-?[+]?[0-9]+([.][0-9]{1,2})?$/)) { return 1; }
            else if (inputValue.match(/^-?[+]?[0-9]+([.])?$/)) { return 1; }
            else { return 0; }
        }
        //---------------ComoboURLS--------------------------------------
        function refillParentCombo(comboId, urlCombo, idParent, placeHolderCombo) {
            var urlComboFinal = urlCombo.replace('ID-PARENT', idParent);
            $.qLibs_fillCombo(comboId, urlComboFinal, null, function () {
                $(comboId).select2({ placeholder: placeHolderCombo, allowClear: true });
            });
        }
        //---------------ComoboURLS--------------------------------------

        //---------------DataTableVariables--------------------------------------
        var qlibs_mDataTableIconUpdate = "kt-nav__link-icon flaticon2-contract";
        var qlibs_mDataTableIconDelete = "kt-nav__link-icon flaticon2-trash";
        var qlibs_mDataTableIconReacti = "kt-nav__link-icon flaticon2-calendar-5";
        var qlibs_mDataTableIconDetail = "kt-nav__link-icon flaticon2-search-1";
        var qlibs_mDataTableIconPrint = "kt-nav__link-icon la la-file-pdf-o";

        var qlibs_mDataTable;
        var qlibs_mDataTable_GridParams_dom = `<'row'<'col-sm-12'tr>>
                                                                                                                                                                <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`;
        //---------------DataTableVariables--------------------------------------
        function qlibs_mDataTable_GridParams_lengthMenu() {
            if ('getGridPageNumber' in window) {
                return window['getGridPageNumber']();
            }
            return [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]];
        }
        function qlibs_mDataTable_GridAutoFill() {
            if ('getGridAutoFill' in window) {
                return window['getGridAutoFill']();
            }
            return true;
        }
        function onAjaxFailGrid(e, xhr) {
            $.qLibs_showAlertError(xhr.statusText + '<br>' + xhr.responseText, 'body', false, 60000, true);
        }
        function gridActionTemplate(actions) {
            var result = '';
            if (actions != '') {
                result += '<div class="dropdown"><a data-toggle="dropdown" class="btn btn-sm btn-clean btn-icon btn-icon-md" aria-expanded="false"><i class="flaticon-more-1"></i></a>';
                result += '<div class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1589px, 27px, 0px);">';
                result += '<ul class="kt-nav">';
                result += actions;
                result += '</ul>';
                result += '</div>';
                result += '</div>';
            }
            return result;
        }
        function getGridActionColumn(icon, renderFunction) {
            if (!icon || icon == "")
                icon = "flaticon-more-1";
            if (!renderFunction)
                renderFunction = function (e, a, i) { return getGridActionColumnTemplate(icon, e, a, i); };
            return { data: "Actions", class: 'action_column', title: "", orderable: false, overflow: "visible", render: renderFunction };
        }
        function getGridActionColumnActivo(activo) {
            if (activo)
                return '<span class="btn btn-label-success btn-bold" style="width: 100%; height: 24px; padding: 2px !important;">activo</span>';
            else
                return '<span class="btn btn-label-danger btn-bold" style="width: 100%; height: 24px; padding: 2px !important;">baja</span>';
        }
        function getGridActionColumnTemplate(icon, x, a, e) {
            var items = getGridActionsItems(x, a, e);
            return getGridActionColumnTemplateHtml(icon, items);
        }
        function getGridActionColumnTemplateHtml(icon, items) {
            var itemsHtml = '';
            $.each(items, function (key, obj) {
                itemsHtml += '<li class="kt-nav__item"><a href="javascript::void(0)" onclick="' + obj.onclick + '" class="kt-nav__link"><i class="' + obj.icon + '"></i><span class="kt-nav__link-text">' + obj.text + '</span></a></li>';
            });
            return '\<div class="dropdown">\
                                                                                                                                                                                <a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">\
                                                                                                                                                                                    <i class="' + icon + '"></i>\
                                                                                                                                                                                </a>\
                                                                                                                                                                                <div class="dropdown-menu dropdown-menu-left">\
                                                                                                                                                                                    <ul class="kt-nav">' + itemsHtml +
                '</ul>\
                                                                                                                                                                                </div>\
                                                                                                                                                                            </div>';
        }
        var defaultPageL = 200;
        function getPageLenght() {
            return defaultPageL;
        }
        var defaultPageR = true;
        function getPageResponsive() {
            return defaultPageR;
        }
        function fillGrid() {
            if (qlibs_mDataTable) {
                qlibs_mDataTable.destroy();
                $(".data_table").empty();
            }
            $(".data_table").hide();
            var dataParams = getGridQueryParams();

            if (typeof validateFilters == 'function') {
                if (validateFilters(dataParams) == false) {
                    return;
                }
            }

            qlibs_mDataTable = null;
            qlibs_mDataTable = $(".data_table").DataTable({
                dom: qlibs_mDataTable_GridParams_dom,
                language: qlibs_mDataTable_GridParams_language,
                lengthMenu: qlibs_mDataTable_GridParams_lengthMenu(),
                pageLength: getPageLenght(),
                responsive: getPageResponsive(),
                processing: true,
                serverSide: true,
                searching: false,
                orderMulti: true,
                order: [],
                ajax: {
                    type: "POST",
                    url: getGridURL(),
                    data: dataParams
                },
                columns: getGridColumns(),
                initComplete: function (settings, json) {
                    if ('initComplete' in window) {
                        window['initComplete']();
                    }
                },
                createdRow: function (row, data, dataIndex) {
                    if ('createdRow' in window) {
                        window['createdRow'](row, data, dataIndex);
                    }
                },
                footerCallback: function (t, e, n, a, r) {
                    if ('footerCallback' in window) {
                        window['footerCallback']();
                    }
                },
            });
            qlibs_mDataTable.on('draw', function (e, settings, json, xhr) {
                e.stopImmediatePropagation();
                if ('onDrawDoneGrid' in window) {
                    window['onDrawDoneGrid']();
                }
            });
            qlibs_mDataTable.on('xhr.dt', function (e, settings, json, xhr) {
                e.stopImmediatePropagation();
                $(".data_table").show();
                if (xhr.statusText == "OK" || xhr.statusText == "success" || xhr.statusText == "HTTP/2.0 200") {
                    if ('onAjaxDoneGrid' in window) {
                        window['onAjaxDoneGrid'](e, json, this);
                    }
                } else {
                    if ('onAjaxFailCustomGrid' in window) {
                        window['onAjaxFailCustomGrid'](this);
                    }
                    else {
                        onAjaxFailGrid(e, xhr);
                    }
                }
            });
        }
        function showGrid(refill) {
            if (refill)
                fillGrid();
            $("#detailActions").hide("slow", function () {
                $('#detailActions').html('');
                $("#gridActions").show();
                $("#kt_contact_aside").show();
                $("#kt_subheader_search").show();
            });
            $("#detailPanel").hide("slow", function () {
                $('#detailPanel').html('');
                $("#gridPanel").show();
            });
        }
        function hideGrid(onComplete) {
            $("#gridActions").hide("slow", function () {
                $("#detailActions").show();
            });
            $("#gridPanel").hide("slow", function () {
                $("#kt_contact_aside").hide();
                $("#kt_subheader_search").hide();
                $("#detailPanel").show();
                onComplete();
            });
        }
        var lastUrl = "";
        function showDetailForm(href) {
            $.qLibs_blockContainer("#gridPanel");
            this.lastUrl = href;
            $.ajax({
                url: href,
                type: 'GET',
                error: function () {
                    KTApp.unblock();
                    alert('ERROR');
                },
                success: function (dataHtml) {
                    KTApp.unblock();
                    hideGrid(function () {
                        $('#detailPanel').html(dataHtml);
                        initializeDetailForm($('#detailActions'));
                    });
                }
            });
        }
        function setCreateButton(button, urlCreate) {
            if ($(button))
                $(button).click(function () { showDetailForm(urlCreate); });
        }
        function setCancelDetailClick(button) {
            button.on("click", function (a) {
                a.preventDefault();
                showGrid();
                return false;
            });
        }
        function editRow(url) {
            showDetailForm(url);
            return false;
        }
        function detailRow(url) {
            showDetailForm(url);
            return false;
        }
        function deleteRow(url, confirmation) {
            if (!confirmation || confirmation == "")
                confirmation = qLibs_deleteRowConfirmationMessage;
            $.qLibs_showAlertConfirmMessage(confirmation, function () {
                $.qLibs_doAjaxSubmit('body', url, 'POST');
            }, function () {
                return false;
            });
            return false;
        }
        function reactivateRow(url, confirmation) {
            if (!confirmation || confirmation == "")
                confirmation = qLibs_reactivateRowConfirmationMessage;
            $.qLibs_showAlertConfirmMessage(confirmation, function () {
                $.qLibs_doAjaxSubmit('body', url, 'POST');
            }, function () {
                return false;
            });
            return false;
        }
        function getCancelButton() {
            return '<a id="cancelButton" class="btn btn-default btn-bold">' + qLibs_CancelButtonText + '</a>';
        }
        function getSaveButton() {
            return '<button id="submitButton" class="btn btn-brand btn-bold">' + qLibs_SaveButtonText + '</button>';
        }
        function submitFormOK() {
            if (doSubmitFormOK()) {
                setTimeout(function () {
                    showGrid(true);
                    fillGrid();
                }, 2000);
            }
        }

        function dataTableForDetailGenerate(tableElement, dataArray, columnsArray) {
            var result = tableElement.DataTable({
                dom: qlibs_mDataTable_GridParams_dom,
                language: qlibs_mDataTable_GridParams_language,
                lengthMenu: qlibs_mDataTable_GridParams_lengthMenu,
                data: dataArray,
                columns: columnsArray,
                paging: false,
                ordering: false,
                responsive: false,
                processing: false,
                serverSide: false,
                searching: false,
                orderMulti: false,
            });
            return result
        }
    </script>
    @RenderSection("JavascriptScripts", false)
    <script src="@Url.Content("~/_Content/js/jquery.doubleScroll.js")"></script>
    <script>
        function submitFormEditFormOKDefault() {
            setTimeout(function () { showGrid(true); fillGrid(); }, 2000);
        }
    </script>
</body>
<!-- end::Body -->
</html>
