﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section prebody{
    @RenderSection("prebody", false)
}

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__body" id="gridPanel" style="display: block;">
        @RenderSection("pretable", false)
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable data_table"></table>
        <!--end: Datatable -->
    </div>
    <div id="detailPanel" style="display: none;"></div>
</div>

@RenderBody()

@section headtag{
    @RenderSection("headtag", false)
}
@section JavascriptScripts{
    <script>
        var urlDetailAction = "";
        var urlCreateAction = "";
        var urlUpdateAction = "";
        var urlDeleteAction = "";
        var urlSearchAction = "";
        var urlImportAction = "";
        var urlExportAction = "";
        var urlReactiAction = "";
    </script>
    @RenderSection("JavascriptScripts", false)
}