﻿@using QLibs.Web.MVC.Extensions;
@{
    Layout = "~/Views/Shared/_LayoutDatatableSearchSimple.cshtml";
    var viewInfo = RocaAPI.AdminEcomm.Web.Code.Controllers.BaseController.GetMVCInfoValited(ViewContext, Url);
}
@section filterbar{
}
@section toolbarbuttons{
    @*@if (RocaAPI.AdminEcomm.Web.Code.SecurityManager.HasPermissionForAction(viewInfo.ExportActionKey))
    {
        <a id="exportButton" class="btn btn-label-success btn-bold" href="@Html.Raw(viewInfo.ExportAction)" target="_blank">
            <i class="flaticon-multimedia-4"></i>@RocaAPI.AdminEcomm.Web.Properties.Textos.Exportar
        </a>
    }*@
}

@section advancedfilters{
    <div class="kt-quick-panel__nav" kt-hidden-height="66" style="">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand  kt-notification-item-padding-x" role="tablist">
            <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#kt_quick_panel_tab_notifications" role="tab" aria-selected="true">@RocaAPI.AdminEcomm.Web.Properties.Textos.MasFiltros</a>
            </li>
        </ul>
    </div>
    <div class="kt-quick-panel__content">
        <div class="tab-content">
            <div class="tab-pane kt-quick-panel__content-padding-x fade kt-scroll ps active show ps--active-y" id="kt_quick_panel_tab_notifications" role="tabpanel" style="height: 400px; overflow: hidden;">
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("brand", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            <input type="text" class="form-control kt-input form-control" id="code" name="code" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.Codigo.ToUpper()" />
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            <input type="text" class="form-control kt-input form-control" id="ean" name="ean" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.Ean.ToUpper()" />
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            <input type="text" class="form-control kt-input form-control" id="description" name="description" placeholder="@RocaAPI.AdminEcomm.Web.Properties.Textos.Descripcion.ToUpper()" />
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("line", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("category", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("type", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <div class="kt-form">
                    <div class="form-group form-group-xs row">
                        <div class="col-12 kt-align-left">
                            @Html.DropDownList("subtype", new List<SelectListItem>(), new { @class = "form-control kt-input" })
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="AdvancedFilter">@RocaAPI.AdminEcomm.Web.Properties.Textos.Buscar</button>
            </div>
        </div>
    </div>
}
@section headtag{
    <style type="text/css">
        #DataTables_Table_0 tbody tr {
            cursor: pointer;
        }
    </style>
}
@section JavascriptScripts{
    <script type="text/javascript">
       @Html.Raw(viewInfo.PrintJsURLS())

        var urlDetalleProduto = '@Html.Raw(Url.Action("ProdutoUpdate"))';
        var urlSendApi = '@Html.Raw(Url.Action("SendApi"))';

        var urlComboBrand = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.Brand, emptyValue = true }))';
        var urlComboLine = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.Line, emptyValue = true }))';
        var urlComboCategory = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.Category, emptyValue = true }))';
        var urlComboType = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.Type, emptyValue = true }))';
        var urlComboSubType = '@Html.Raw(Url.Action("GetJSONCombo", new { e = RocaAPI.AdminEcomm.Web.Code.Controllers.GetJSONComboEntityType.SubType, emptyValue = true }))';

        $(document).ready(function () {
            $.qLibs_fillComboAutocomplete('#brand', urlComboBrand);
            $.qLibs_fillComboAutocomplete('#line', urlComboLine);
            $.qLibs_fillComboAutocomplete('#category', urlComboCategory);
            $.qLibs_fillComboAutocomplete('#type', urlComboType);
            $.qLibs_fillComboAutocomplete('#subtype', urlComboSubType);

            if (urlCreateAction) $("#addButton").click(function () { showDetailForm(urlCreateAction); });
            $('#AdvancedFilter').click(function () { fillGrid() });
            fillGrid();
         });

        function getGridURL() {
            return urlSearchAction;
        }

        function getGridQueryParams() {
            return {
                Filters: {
                    FindValue: $('#FindValue').val(),
                    Brand: $('#brand').val(),
                    Code: $('#code').val(),
                    Ean: $('#ean').val(),
                    Description: $('#description').val(),
                    Line: $('#line').val(),
                    Category: $('#category').val(),
                    Type: $('#type').val(),
                    SubType: $('#subtype').val(),
                }
            };
        }

        function getGridActionsItems(x, a, e) {
            var actions = [];
            return actions;
        }

        function getGridColumns() {
            return [
                { data: "Brand", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Marca", width: '120px' },
                { data: "Code", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Codigo", width: '120px' },
                { data: "Ean", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Ean" },
                { data: "Description", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Descripcion" },
                { data: "Line", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Linea", width: '100px' },
                { data: "Category", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Categoria", width: '80px' },
                { data: "Type", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Tipo", width: '50px' },
                { data: "Subtype", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Subtipo", width: '80px' },
                { data: "Price", title: "@RocaAPI.AdminEcomm.Web.Properties.Textos.Precio", width: '230px' },
                { data: "ViewDetail", class: 'action_column', title: "", orderable: false, overflow: "visible", render: function (e, a, i) { return getGridButtonColumnViewDetail(e, a, i); } },
                { data: "SendApi", class: 'action_column', title: "", orderable: false, overflow: "visible", render: function (e, a, i) { return getGridButtonColumnSendApi(e, a, i); } },
            ];
        }

        function submitFormOK() {
            setTimeout(function () {
                showGrid(true);
                fillGrid();
            }, 2000);
        }

        function getGridButtonColumnViewDetail(e, a, i) {
            return '<a href="javascript::void(0)" onclick="viewRow(\'' + i.BaseEntityID + '\')" class="btn btn-brand btn-bold"><span class="kt-nav__link-text">VER</span></a>'
        }

        function getGridButtonColumnSendApi(e, a, i) {
            return '<a href="javascript::void(0)" onclick="sendApi(\'' + i.BaseEntityID + '\')" class="btn btn-brand btn-bold"><span class="kt-nav__link-text">ENVIAR</span></a>'
        }

        function viewRow(BaseEntityID) {
            debugger
            showDetailForm(urlDetalleProduto + "?BaseEntityID=" + BaseEntityID);
            return false;
        }

        function sendApi(BaseEntityID) {
            debugger
            $.qLibs_showAlertConfirmMessage('¿Está seguro que desea enviar el producto?', function () {
                $.qLibs_doAjaxSubmit('body', urlSendApi + "?BaseEntityID=" + BaseEntityID, 'POST');
            }, function () {
                return false;
            });
            return false;
        }

        function submitOkSendApi(data) {
            debugger
            alert('OK');
            fillGrid();
        }
    </script>
}