﻿@model RocaAPI.AdminEcomm.Web.Models.ErrorModels.ErrorModel
<div class="row">
    <div class="col-md-12">
        @if (Model is RocaAPI.AdminEcomm.Web.Models.ErrorModels.ErrorIncompatibleModel)
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">
                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i></h1>
                <h1>INCOMPATIBLE</h1>
                <h3>Opps, You're lost.</h3>
                <p>Las versiones de base de datos y web, son incompatibles.</p>
                <p>Version: @Html.Raw(Context.Session["Version"])</p>
                <p>Base de datos: @Html.Raw(Context.Session["DBVersion"])</p>
            </div>
        }
        else if (Model is RocaAPI.AdminEcomm.Web.Models.ErrorModels.Error403Model)
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">
                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i>403</h1>
                <h3>Opps, You're lost.</h3>
                <p>Access to this page is forbidden</p>
                <br />
                <button class="btn btn-danger btn-large" onclick="document.location.href = '@Url.Action("Index", "Home")';">HOME</button>
            </div>
        }
        else if (Model is RocaAPI.AdminEcomm.Web.Models.ErrorModels.Error404Model)
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">

                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i>404</h1>
                <h3>Ooops! Page not Found</h3>
                <br />
                <button class="btn btn-danger btn-large" onclick="document.location.href = '@Url.Action("Index", "Home")';">HOME</button>
            </div>
        }
        else if (Model is RocaAPI.AdminEcomm.Web.Models.ErrorModels.Error405Model)
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">

                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i>405</h1>
                <h3>Something is wrong here. Method not allowed!</h3>
                <p>Access to this page is forbidden</p>
                <br />
                <button class="btn btn-danger btn-large" onclick="document.location.href = '@Url.Action("Index", "Home")';">HOME</button>
            </div>
        }
        else if (Model is RocaAPI.AdminEcomm.Web.Models.ErrorModels.Error500Model)
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">

                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i>500</h1>
                <h3>Something is wrong here. Method not allowed!</h3>
                <p>Access to this page is forbidden</p>
                <br />
                <button class="btn btn-danger btn-large" onclick="document.location.href = '@Url.Action("Index", "Home")';">HOME</button>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissable" style="text-align: center;">

                <h1><i class="fa fa-chain-broken text-danger fa-5" style="font-size: 40px;"></i>Error</h1>
                @if (string.IsNullOrEmpty(Model.Message))
                {
                    <h2>Unexpected error occurred!</h2>
                }
                else
                {
                    <h2>@Html.Raw(Model.Message)</h2>
                }
                <br />
                <button class="btn btn-danger btn-large" onclick="document.location.href = '@Url.Action("Index", "Home")';">HOME</button>
            </div>
        }
    </div>
</div>