﻿@{ Layout = ""; }
@model RocaAPI.AdminEcomm.Web.Models.ErrorModels.OutOfServiceModel
@using QLibs.Web.MVC.Extensions;
<!DOCTYPE html>
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    @Html.Partial("~/Views/Shared/Partials/Title.cshtml")
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/pages/css/coming-soon.min.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="@Url.Content("~/_Content/images/favicon.png")" />
</head>
<!-- END HEAD -->
<body class="" style="background-color: #808080;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href=".">
                    <img src="@Url.Content("~/_Content/images/logo_big.png")" alt="logo" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 coming-soon-content">
                <h1>Coming Soon!</h1>
                <p>
                    @Html.Raw(Model.Message)
                </p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 coming-soon-countdown">
                <div id="defaultCountdown"> </div>
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer">
                @Html.Partial("~/Views/Shared/Partials/Footer.cshtml")
            </div>
        </div>
    </div>
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/excanvas.min.js")"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript" )"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/countdown/jquery.countdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">
        var ComingSoon = function () {
            return {
                //main function to initiate the module
                init: function () {
                    @Html.Raw(Model.ToDateJQuery())
                    $('#defaultCountdown').countdown({ until: toDate });
                    $('#year').text(austDay.getFullYear());
                    @*$.backstretch([
                        "@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/pages/img/login/bg1.jpg")",
                        "@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/pages/img/login/bg2.jpg")",
                        "@Url.Content("~/_Content/metronic_v4.5.5/theme/assets/pages/img/login/bg3.jpg")"
                    ], {
                        fade: 5000,
                        duration: 10000
                    });*@
                }
            };
        }();
        jQuery(document).ready(function () {
            ComingSoon.init();
        });
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
</body>
</html>